{% extends "layout.html" %}

{% block title %}
 History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>type</th>
            <th>stock name</th>
            <th>shares</th>
            <th>price</th>
            <th>time</th>
        </tr>
    </thead>

    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td> {{ transaction['type'] }}</td>
            <td> {{ transaction['name'] }}</td>
            <td> {{ transaction['shares'] }}</td>
            <td> {{ usd(transaction['price']) }}</td>
            <td> {{ transaction['time'] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
    {% endblock %}
